[submodule "frontend"]
	path = frontend
	url = https://github.com/randygusman/material-request-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/randygusman/material-request-management.git
